@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

.barranav{    
    background-color: white;
    display: flex;
    position: relative;
    z-index: 40;
    width:100%;
}

.logo{
    display: inline-block;
    border: solid 3px red;
    padding: 10px 20px;
}

.titulo{
    color: #fff;
    font-size: 2.2em;
    font-weight: bold;
    text-align: center;
    font-family: "Poppins", sans-serif;
    position: relative;
    align-content: Center;
    width: 100%;
    padding-right: 150px;
    background-color: #00263C;
}

.footer1{
    bottom: 0;
    width: 100%;
    background: #00263C;
    color: white;
    padding: 20px 0px 20px 0px;   
}

.imagen_inicio{
    width: 100%; 
    filter:brightness(0.5); 
    height: 100%; 
 }
 
 .caja_imagen{
    background: url("../img/entrada.jpg") center center no-repeat;
    width: 100%;        
    overflow: hidden;
    height: 87.4vh;
    position: relative;
    background-attachment: fixed;
    background-size:cover;
 }
  
 .texto_encima{  
    padding-right:15%;
    padding-left:15%;     
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    color: white;
    text-shadow: 2px 2px #158ED4;
    text-align: center;
    margin-top: 10%;
 }

 .texto_parrafo {         
    padding-right:15%;
    padding-left:15%; 
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    color: #13A8FF;
    text-align: center;
 }

 body{
    margin: 0px;
    background-color: #BFE7FF;
    font-family: "Poppins", sans-serif;
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
 }

 #titolseccio{
    text-align: center;
 }

 .seccio1{
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
 }

.divbotons{
    display: flex;
    justify-content: center;
    padding: 100px 10px 10px 10px;
}

#menubutton{
    padding-left: 10px;
}

#adminbutton{
    padding-left: 100px;
}

input[type=submit]{
    background-color: #158ED4;
    border-radius: 25px;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-color:#158ED4;
}

input[type=submit]:hover{
    background-color: white;
    border-radius: 25px;
    color: #158ED4;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-color:#158ED4;
}

#logofooter{
    width: 70px;
    padding-left: 20px;
}

.login_img{
    background: url("../img/entrada.jpg") center center no-repeat;
    width: 100%;        
    overflow: hidden;
    height: 87.4vh;
    position: relative;
    background-attachment: fixed;
    background-size:cover;
 }

/* MENU CSS */ 

h1{
    font-size: 3em;
    text-align: center;
    margin-top: 50px;
}

h2{
    font-size: 2em;
    text-align: center;
    border-radius: 4px;
    background-color: antiquewhite;
}

h3{
    font-size: 1em;
}

.menu1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 50px;   
}

.menu2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 50px;
}

.tipusMenjar{
    display: flex;
    flex-wrap: wrap;
}

.tipusMenjar1{
    margin-right: 1vh;
    opacity: 95%;
}
.tipusMenjar2{
    margin-right: 1vh;
    opacity: 95%;
}
.tipusMenjar3{
    opacity: 95%;
}

.productes{
    background-color: rgba(243, 237, 233, 0.541);
    display: flex;
    flex-wrap: wrap;
    border-radius: 4px;
}

.producte1{
    background-color:whitesmoke;
    width: 150px;
    height: auto;
    margin-top: 1vh;
    margin-left: 1vh;
    margin-right: 1vh;
    margin-bottom: 1vh;
    border-radius: 4px;
}

.producte2{
    background-color: whitesmoke;
    width: 150px;
    height: auto;
    margin-top: 1vh;
    margin-right: 1vh;
    margin-bottom: 1vh;
    border-radius: 4px;
}

.producte3{
    background-color:  whitesmoke;
    width: 150px;
    height: auto;
    margin-top: 1vh;
    margin-right: 1vh;
    margin-bottom: 1vh;
    border-radius: 4px;
}

.imatgeProductes{
    width: 140px;
    height: 150px;
    margin-top: 1vh;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1px;
    display: block;
}

.titol{
    margin-left: 1vh;
    height: 50px;
}

.descripcio{
    margin-left: 1vh;
    max-width: 200px;
    height: 90px;
}

.preu{
    margin-left: 1vh;
    height: 40px;
}

.quantitat{
    margin-left: 1vh;
}

.quantitat-boto{
    background-color: antiquewhite;
    width: 120%;
}

.demanar{
    max-width: fit-content;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
}
.demanar-boto{
    background-color: antiquewhite;
    font-weight: bold;
}

/* FORMULARI CSS */

.formulari{
    display: flex;
    width:1000px;
	padding:60px 20px 80px 20px;
	border-radius:10px;
	margin: 40px auto;
	background-color: #a1a1a1; 
}

form label{
	width: 80px;
	font-weight:bold;
    display: inline-block;
    text-align: center;
}

form input[type="text"],
form input[type="email"],
form input[type="tel"]{
	width:440px;
	padding:5px 10px;
    border:1px solid #f6f6f6;
	border-radius:5px;
	background-color:#f6f6f6;
	margin:16px 0px;
    display: inline-block;
}

.buttons{
    text-align: center;
}

.muchotexto{
    border: 2px solid black;
}

.comandaActual{
    padding: 0px 190px;
    border: 2px solid black;
    display: flex;
}

.comanda{
    
    
}

.total{
    
    
}


