

.barranav{    
    background-color: white;
    display: flex;
    position: fixed;
    z-index: 40;
    width:100%

    
}
.logo{
    display: inline-block;
    border: solid 3px red;
    padding: 10px 20px;
}
.titulo{
    color: #fff;
    font-size: 2rem;
    text-align: center;
    font-family: Quicksand;
    position: relative;
    align-content: Center;
    width: 100%;
    padding-right: 150px;
    background-color: #00263C;
    
}








.footer1{
    
    bottom: 0;
    width: 100%;
    background: #00263C;
    color: white;
    padding: 20px 0px 20px 0px;
    
}


.imagen_inicio{
    width: 100%; 
    filter:brightness(0.5); 
    height: 100%; 
 }
 
 .caja_imagen{
    background: url("../img/entrada.jpg") center center no-repeat;
    width: 100%;        
    overflow: hidden;
    height: 87.4vh;
    position: relative;
    background-attachment: fixed;
    background-size:cover;
 }
 
 .texto_encima{  
    padding-right:15%;
    padding-left:15%;     
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: 2px 2px #158ED4;
    text-align: center;
    margin-top: 10%;
 }
 .texto_parrafo {         
    padding-right:15%;
    padding-left:15%; 
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #13A8FF;
    text-align: center;
 }

 body{
    margin: 0px;
    
 }

 body{
    background-color: #BFE7FF;

 }

 #titolseccio{

    text-align: center;
 }

 .seccio1{
    padding-top: 80px;
    padding-bottom: 80px;
    
    position: relative;
 }
.divbotons{
    display: flex;
    justify-content: center;
    padding: 100px 10px 10px 10px;
}
#menubutton{

    padding-left: 10px;
}
#adminbutton{
    padding-left: 100px;
}

input[type=submit]{
    background-color: #158ED4;
    border-radius: 25px;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-color:#158ED4;

    



}

input[type=submit]:hover{

    background-color: white;
    border-radius: 25px;
    color: #158ED4;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-color:#158ED4;

    

}
#logofooter{

    width: 70px;
    padding-left: 20px;
    
}

